.table {
    border: solid 1px red;
    margin:20px;

}
.table .nameProduct{
    text-align: center;
    font-size: 20px;
    text-align: center;
}
.table .Count{
    border: solid 1px black;
    margin:0;
}
.divText{
    overflow: scroll;
    width: 200px;
    height: 200px;
}